In [1]:
#import pandas library
import pandas as pd
import numpy as np

In [4]:
#import dataset
df = pd.read_csv('data.csv')

# Text Variables

In this dataset, we have three text variables:</br>
<li><b>name</b>: just check null value
<li><b>address</b>: analyze according to regular expression
<li><b>phone</b>: check null and fixed-length

> ### name

since, we may have all differenet names, and there is no specific rule about it, we just need to check the null values:

In [5]:
print(df.loc[df['name'].isnull()].index)

Int64Index([], dtype='int64')

the result show there is no null value in this column

> ### address

first we must trim this column to remove all unneeded spaces:

In [6]:
df['address'] = df['address'].str.strip()

then we should separate the text from the numbers and put them into a new variable:

In [7]:
df['number'] = df['address'].str.extract(r'^(\d+)')

now we have a column that shows the number of the address. so, there is no worry about the address content and it can contain number as well as adress.

> ### phone

the phone is kind of text data type that should contain fixed-lenght value. But first we should check whether there is null value or not

In [8]:
print(df.loc[df['phone'].isnull()].index)

Int64Index([], dtype='int64')

the result shows there is no null value in this column.

then we should make sure that whether the data have the same length or not. They must contain. But before that we should check its data type. It must be text and not integer

In [9]:
df['phone'].dtypes

dtype('int64')

so, the result shows we should convert this data type to string

In [10]:
df['phone'] = df['phone'].astype(str)

then check the data type of this column again:

In [11]:
df['phone'].dtypes

dtype('O')

now, we can check its value's length

In [12]:
for i in range(len(df)):
    if len(df.iloc[i,3]) == 10:
        df['length phone'] = 'OK'
    else:
        df['length phone'] = 'Not'

now we can see which rows are "Not"

In [57]:
filtered_df = df[df['length phone'].str.contains('Not')]
filtered_df

Empty DataFrame
Columns: [name, address, city, phone, type, number, length phone]
Index: []

the result shows, there is no phone number that its value is not 10. now we can remove the check column

In [60]:
df = df.drop('length phone' , axis = 1)

# Categorical Variables

In this dataset, we have two categorical variables:</br>
<li><b>city</b>: check null value and all possible values
<li><b>type</b>: check null value and all possible values

> ### city

first we should check if there is any null value

In [62]:
print(df.loc[df['city'].isnull()].index)

Int64Index([], dtype='int64')

we don't have any null value in this column. next we should check the all possible values. for doing this, let's see all unique values:

In [63]:
print(sorted(df['city'].unique()))

['atlanta', 'beverly hills', 'brooklyn', 'hollywood', 'las vegas', 'los angeles', 'los feliz', 'new york', 'pacific palisades', 'san francisco', 'santa monica', 'sherman oaks', 'studio city', 'toluca lake']

the result shows all possible values are correct and there is not inconsistency among them.

> ### type

the process for this column is as same as the city. so, first see if we have null value or not

In [64]:
print(df.loc[df['type'].isnull()].index)

Int64Index([], dtype='int64')

we don't have null value. let's see the cardinality (uniquness) of this column:

In [65]:
print(sorted(df['type'].unique()))

['american', 'asian', 'cajun', 'coffeebar', 'italian', 'mexican', 'southern', 'southwestern', 'steakhouses']

so, all values of this column is consistent