In [1]:
import numpy as np
import pandas as pd
import glob

In [2]:
df = pd.read_csv('Dataset/data.csv')

<hr>

# Data Preprocessing

## 1 - look at data

Let’s see the dimensions of the dataframe.

In [3]:
df.shape

(20000, 35)

<hr>

## 2 - Remove Unnecessary Columns

Among all columns, we don’t need some of them. So, I drop them from dimension.

In [4]:
df = df.drop(['MunicipalityCode', 'Prefecture', 'Region', 'DistrictName', 'NearestStation','MinTimeToNearestStation', 'MaxTimeToNearestStation',
              'AreaIsGreaterFlag', 'FrontageIsGreaterFlag', 'TotalFloorArea',
              'TotalFloorAreaIsGreaterFlag', 'PrewarBuilding', 'Purpose', 'Classification', 'Breadth',
              'CityPlanning', 'CoverageRatio', 'FloorAreaRatio', 'Period', 'Year','Quarter','Remarks'] , axis = 1)

In [5]:
df.head(2)

,Type,Municipality,TimeToNearestStation,TradePrice,FloorPlan,Area,LandShape,Frontage,BuildingYear,Structure,Use,Direction,Renovation
0,"Pre-owned Condominiums, etc.",Chiyoda Ward,4,40000000,1LDK,30,NaN,NaN,2013.0,RC,House,NaN,Not yet
1,"Pre-owned Condominiums, etc.",Chiyoda Ward,4,130000000,3LDK,80,NaN,NaN,2007.0,RC,NaN,NaN,Done

<hr>

## 3 - Change Column’s Name

I change the name of the column based on the following:
* TimeToNearestStation: NearStation
* TradePrice: Price

In [6]:
col_name = ['Type', 'Municipality','NearStation',
       'Price', 'FloorPlan', 'Area', 'LandShape', 'Frontage',
       'BuildingYear', 'Structure', 'Use', 'Direction', 'Renovation']

df.columns = col_name

print(df.columns)

Index(['Type', 'Municipality', 'NearStation', 'Price', 'FloorPlan', 'Area',
       'LandShape', 'Frontage', 'BuildingYear', 'Structure', 'Use',
       'Direction', 'Renovation'],
      dtype='object')

<hr>

## 4 - Handle Missing Values

I create a for loop to iterate among all columns to realize whether they have null values or not. I’m looking for the number of null values in every single column as well as the percentage of null values.

In [7]:
for col in df.columns:
    number_null = df.loc[: , col].isnull().sum()
    perc_null = (number_null / df.shape[0]) * 100
    print('{} - {} - %{}'.format(col, number_null, round(perc_null,3)))

Type - 0 - %0.0
Municipality - 0 - %0.0
NearStation - 137 - %0.685
Price - 0 - %0.0
FloorPlan - 3153 - %15.765
Area - 0 - %0.0
LandShape - 16848 - %84.24
Frontage - 17053 - %85.265
BuildingYear - 710 - %3.55
Structure - 488 - %2.44
Use - 2208 - %11.04
Direction - 16847 - %84.235
Renovation - 4917 - %24.585

The result shows we must have a different approach to handling null values. Since I have a large dataset:
<br><br>
Categorical:
* less than 5%, I drop the rows.
* between 5% and 30%, I impute with mode.
* More than 30%, create a new label as “Other.”
<br><br>

Numerical:
* between 0% and 30%, I impute with mean or median.
* More than 30%, I drop the rows.

<br>
However, the best way is consulting with expert domain.

<hr>

Let’s begin with categorical variables. First, I impute “Renovation”, “FloorPlan” and "Use" with mode.

In [8]:
mode_Renovation = df['Renovation'].mode()[0]
mode_Use = df['Use'].mode()[0]
mode_FloorPlan = df['FloorPlan'].mode()[0]

print(mode_Renovation)
print(mode_Use)
print(mode_FloorPlan)

Not yet
House
1K

In [9]:
df['Renovation'] = df['Renovation'].fillna('Not yet')
df['Use'] = df['Use'].fillna('House')
df['FloorPlan'] = df['FloorPlan'].fillna('1K')

Then, I created a new label for missing values in “LandShape”, “Direction”.

In [10]:
df['LandShape'] = df['LandShape'].fillna('Other LandShape')
df['Direction'] = df['Direction'].fillna('Other Direction')

Finally, I drop “structure” null value.

In [11]:
df = df.dropna(subset = ['Structure'])

<hr>

And now, I work on numerical variables. First, I impute “NearStation” and “year. But before doing this, I must make sure about distribution shape of these columns to see whether they are right-skewed or left-skewed. It can be helpful when I want to decide choosing mean or median for imputing. Also, I should check the data type of theses variables to be sure about their numerical type.

In [12]:
print(df['NearStation'].dtypes)
print(df['BuildingYear'].dtypes)

object
float64

"NearStation" is object and it means there are some values in this column that are not number. First, we should handle this issue. So, I check the unique values:

In [13]:
df['NearStation'].unique()

array(['4', '2', '1', nan, '3', '5', '6', '0', '7', '11', '10', '8', '9',
       '12', '30-60minutes', '13', '14', '16', '15', '19', '18', '21',
       '2H-', '17'], dtype=object)

As we can see, there are some values that are not number, and they are range. So, I ignore those kinds of values from model.

In [14]:
df['NearStation'] = pd.to_numeric(df['NearStation'], errors='coerce')

In [15]:
df['NearStation'].unique()

array([ 4.,  2.,  1., nan,  3.,  5.,  6.,  0.,  7., 11., 10.,  8.,  9.,
       12., 13., 14., 16., 15., 19., 18., 21., 17.])

Now we can see its distribution.

In [16]:
print('Skewness :' , round(df['NearStation'].skew() ,3))

mean_NearStation = df['NearStation'].mean()
median_NearStation = df['NearStation'].median()

if mean_NearStation > median_NearStation:
    print('Mean is bigger than Median. Left Skewed. Median for imputing')
else:
    print('Mean is smaller than Median. Right Skewed. Mean for imputing')

Skewness : 1.103
Mean is bigger than Median. Left Skewed. Median for imputing

The result shows that I should choose median for imputing.

In [17]:
df['NearStation'] = df['NearStation'].fillna(median_NearStation).round(0)

In the next, I drop null values for “Frontage”.

In [18]:
df = df.dropna(subset = ['Frontage'])

run the same process for "BulidingYear".

In [19]:
print('Skewness :' , round(df['BuildingYear'].skew() ,3))

mean_BuildingYear = df['BuildingYear'].mean()
median_BuildingYear = df['BuildingYear'].median()

if mean_BuildingYear > median_BuildingYear:
    print('Mean is bigger than Median. Left Skewed. Median for imputing')
else:
    print('Mean is smaller than Median. Right Skewed. Mean for imputing')

Skewness : 0.098
Mean is smaller than Median. Right Skewed. Mean for imputing

The result shows that I should choose mean for imputing.

In [20]:
df['BuildingYear'] = df['BuildingYear'].fillna(mean_BuildingYear).round(0)

Finally, we check the null values for dataset again.

In [21]:
for col in df.columns:
    number_null = df.loc[: , col].isnull().sum()
    perc_null = (number_null / df.shape[0]) * 100
    print('{} - {} - %{}'.format(col, number_null, round(perc_null,3)))

Type - 0 - %0.0
Municipality - 0 - %0.0
NearStation - 0 - %0.0
Price - 0 - %0.0
FloorPlan - 0 - %0.0
Area - 0 - %0.0
LandShape - 0 - %0.0
Frontage - 0 - %0.0
BuildingYear - 0 - %0.0
Structure - 0 - %0.0
Use - 0 - %0.0
Direction - 0 - %0.0
Renovation - 0 - %0.0

<hr>

## 5 - Handle Duplicate Rows

Now we should handle duplicate rows. Since all values might be same, we just we need to check whether there are two rows that all values in all columns are the same or not.

In [22]:
duplicate_rows = df.duplicated()

if duplicate_rows.any():
    print("The DataFrame has duplicate rows.")
else:
    print("The DataFrame does not have duplicate rows.")

The DataFrame has duplicate rows.

The result shows we have duplicated rows. Now, let’s see the duplicated rows:

In [23]:
duplicate_rows = df[df.duplicated(keep=False)]

duplicate_rows = pd.DataFrame(duplicate_rows)
duplicate_rows

,Type,Municipality,NearStation,Price,FloorPlan,Area,LandShape,Frontage,BuildingYear,Structure,Use,Direction,Renovation
4986,Residential Land(Land and Building),Chuo Ward,2.0,230000000,1K,80,Rectangular Shaped,7.0,1964.0,SRC,Office,Northeast,Not yet
4994,Residential Land(Land and Building),Chuo Ward,2.0,230000000,1K,80,Rectangular Shaped,7.0,1964.0,SRC,Office,Northeast,Not yet
9353,Residential Land(Land and Building),Minato Ward,1.0,360000000,1K,160,Rectangular Shaped,8.9,1991.0,RC,"Housing Complex, Office, Shop",North,Not yet
9354,Residential Land(Land and Building),Minato Ward,1.0,360000000,1K,160,Rectangular Shaped,8.9,1991.0,RC,"Housing Complex, Office, Shop",North,Not yet
14686,Residential Land(Land and Building),Shinjuku Ward,5.0,59000000,1K,50,Rectangular Shaped,7.2,2015.0,W,House,North,Not yet
14690,Residential Land(Land and Building),Shinjuku Ward,5.0,59000000,1K,50,Rectangular Shaped,7.2,2015.0,W,House,North,Not yet
18342,Residential Land(Land and Building),Shinjuku Ward,4.0,400000000,1K,145,Semi-rectangular Shaped,9.5,2014.0,RC,Housing Complex,North,Not yet
18343,Residential Land(Land and Building),Shinjuku Ward,4.0,400000000,1K,145,Semi-rectangular Shaped,9.5,2014.0,RC,Housing Complex,North,Not yet

In [24]:
print("before: ", df.shape)
df = df.drop_duplicates(keep='first')
print("after: ", df.shape)

before:  (2765, 13)
after:  (2761, 13)

Then, we can check duplicate rows again.

In [25]:
duplicate_rows = df.duplicated()

if duplicate_rows.any():
    print("The DataFrame has duplicate rows.")
else:
    print("The DataFrame does not have duplicate rows.")

The DataFrame does not have duplicate rows.

<hr>

## 6 - Handle Number Variables

First of all, I declare all number variables. The number variables are: “Area”, “Frontage”, “NearStation”, “BuildingYear”, “Price”.

In [26]:
num_list = ['Area', 'Frontage', 'NearStation', 'BuildingYear', 'Price']

I must make sure about the data type of the number variable. Just because the column shows numbers, it doesn't mean that they are numbers.Thus, with regular expression I should clean them.

In [27]:
def non_numeric(x):
    non_numeric_df = pd.DataFrame(df[df[x].astype(str).str.contains('[^\d\.]+')])
    return non_numeric_df

In [28]:
non_numeric('Area')

Empty DataFrame
Columns: [Type, Municipality, NearStation, Price, FloorPlan, Area, LandShape, Frontage, BuildingYear, Structure, Use, Direction, Renovation]
Index: []

In [29]:
non_numeric('Frontage')

Empty DataFrame
Columns: [Type, Municipality, NearStation, Price, FloorPlan, Area, LandShape, Frontage, BuildingYear, Structure, Use, Direction, Renovation]
Index: []

In [30]:
non_numeric('NearStation')

Empty DataFrame
Columns: [Type, Municipality, NearStation, Price, FloorPlan, Area, LandShape, Frontage, BuildingYear, Structure, Use, Direction, Renovation]
Index: []

In [31]:
non_numeric('BuildingYear')

Empty DataFrame
Columns: [Type, Municipality, NearStation, Price, FloorPlan, Area, LandShape, Frontage, BuildingYear, Structure, Use, Direction, Renovation]
Index: []

In [32]:
non_numeric('Price')

Empty DataFrame
Columns: [Type, Municipality, NearStation, Price, FloorPlan, Area, LandShape, Frontage, BuildingYear, Structure, Use, Direction, Renovation]
Index: []

The results show fortunately in those variables, we just have number nothing else. However, we can see the sum of those variables for double check.

In [33]:
for i in range(len(num_list)):
    var_sum = df.loc[: , num_list[i]].sum()
    print(num_list[i] , var_sum)

Area 470260
Frontage 26427.699999999997
NearStation 12597.0
BuildingYear 5488313.0
Price 1424412020000

<hr>

## 7 - Handle Categorical Variables

First of all, I declare all categorical variables. These variables are: “Province”, “City”, “Type”, “LandShape”, “Structure”, “FloorPlan”, ‘Direction”, “Use”, “Renovation”.

In [34]:
cat_list = ['Type', 'Municipality', 'FloorPlan', 'LandShape', 'Structure', 'Direction', 'Use', 'Renovation']

Then, we must make sure about the possible range for each of them. They must be the same with data documentation.

> ### Type

In [35]:
 print(df['Type'].unique())

['Residential Land(Land and Building)']

> ### Municipality

In [36]:
 print(df['Municipality'].unique())

['Chiyoda Ward' 'Chuo Ward' 'Minato Ward' 'Shinjuku Ward' 'Bunkyo Ward']

In [37]:
 print(df['Municipality'].value_counts())

Shinjuku Ward    1015
Minato Ward       660
Chuo Ward         581
Chiyoda Ward      434
Bunkyo Ward        71
Name: Municipality, dtype: int64

> ### FloorPlan

In [38]:
print(df['FloorPlan'].unique())

['1K']

> ### LandShape

In [39]:
print(df['LandShape'].unique())

['Trapezoidal Shaped' 'Rectangular Shaped' 'Semi-rectangular Shaped'
 'Semi-trapezoidal Shaped' 'Irregular Shaped' 'Semi-shaped'
 'Semi-square Shaped' 'Flag-shaped etc.' 'Square Shaped' 'Other LandShape']

In [40]:
 print(df['LandShape'].value_counts())

Semi-rectangular Shaped    1014
Rectangular Shaped          731
Irregular Shaped            423
Semi-trapezoidal Shaped     197
Semi-square Shaped          157
Semi-shaped                 111
Trapezoidal Shaped           78
Flag-shaped etc.             28
Square Shaped                21
Other LandShape               1
Name: LandShape, dtype: int64

> ### Structure

In [41]:
print(df['Structure'].unique())

['S' 'RC' 'SRC' 'W' 'LS' 'S, LS' 'B' 'SRC, RC' 'S, W' 'RC, W' 'RC, S'
 'W, B']

All of them are correct and based on data documentation. However, some of them have two or more types of structure, and because of reduced-dimensionality, I just consider the first one.

In [42]:
df['Structure'] = df['Structure'].apply(lambda x: x.split(',')[0])

In [43]:
 print(df['Structure'].value_counts())

RC     1014
W       795
S       551
SRC     348
LS       50
B         3
Name: Structure, dtype: int64

> ### Direction

In [44]:
print(df['Direction'].unique())

['Northwest' 'Southwest' 'South' 'Northeast' 'East' 'Southeast' 'West'
 'North' 'No facing road']

In [45]:
 print(df['Direction'].value_counts())

Northwest         382
Southwest         373
Southeast         371
West              344
Northeast         335
South             329
East              307
North             304
No facing road     16
Name: Direction, dtype: int64

> ### Use

In [46]:
print(df['Use'].unique())

['Office, Shop' 'Housing Complex, Office' 'House, Office, Workshop'
 'House, Office, Shop' 'Other' 'Office, Warehouse' 'Parking Lot'
 'Office, Parking Lot' 'Housing Complex, Office, Shop' 'House' 'Office'
 'Housing Complex' 'Housing Complex, Shop' 'House, Shop' 'Warehouse, Shop'
 'Housing Complex, Office, Warehouse, Shop' 'House, Workshop, Shop'
 'Warehouse' 'House, Office' 'Office, Warehouse, Parking Lot'
 'House, Factory, Office, Shop' 'House, Office, Other' 'Shop'
 'House, Office, Warehouse, Shop' 'Office, Other'
 'Office, Warehouse, Shop' 'House, Warehouse, Shop, Other' 'Workshop'
 'House, Office, Parking Lot' 'Office, Workshop, Warehouse' 'Factory'
 'House, Warehouse' 'House, Housing Complex, Factory, Warehouse'
 'Office, Parking Lot, Shop' 'House, Factory, Office'
 'Housing Complex, Office, Warehouse, Parking Lot'
 'House, Office, Warehouse' 'House, Workshop' 'House, Office, Shop, Other'
 'House, Parking Lot' 'House, Parking Lot, Shop'
 'Housing Complex, Parking Lot' 'Housing Complex, Warehouse'
 'House, Factory' 'Warehouse, Parking Lot' 'Office, Warehouse, Other'
 'Housing Complex, Office, Parking Lot, Shop'
 'House, Office, Parking Lot, Shop' 'House, Other'
 'House, Warehouse, Shop' 'Shop, Other' 'House, Workshop, Warehouse, Shop'
 'House, Housing Complex, Office, Shop'
 'Housing Complex, Office, Warehouse' 'Office, Shop, Other'
 'House, Office, Warehouse, Parking Lot' 'Housing Complex, Other'
 'Workshop, Warehouse, Parking Lot' 'Factory, Office, Warehouse'
 'Factory, Office' 'House, Housing Complex, Factory, Office'
 'House, Workshop, Warehouse' 'Office, Workshop, Shop'
 'Housing Complex, Workshop' 'Office, Workshop' 'House, Shop, Other'
 'House, Office, Workshop, Shop'
 'House, Housing Complex, Office, Warehouse'
 'Housing Complex, Office, Workshop' 'House, Housing Complex, Office'
 'House, Warehouse, Other' 'House, Housing Complex, Shop'
 'House, Housing Complex, Workshop'
 'House, Housing Complex, Factory, Office, Workshop, Warehouse'
 'Housing Complex, Factory, Office, Parking Lot'
 'House, Housing Complex, Parking Lot'
 'House, Warehouse, Parking Lot, Shop' 'Housing Complex, Factory, Office'
 'Office, Parking Lot, Other' 'Housing Complex, Office, Parking Lot'
 'Housing Complex, Parking Lot, Shop'
 'Housing Complex, Workshop, Warehouse'
 'Housing Complex, Office, Warehouse, Parking Lot, Shop'
 'Housing Complex, Factory'
 'Housing Complex, Office, Warehouse, Shop, Other'
 'House, Housing Complex, Workshop, Shop'
 'Housing Complex, Warehouse, Parking Lot' 'House, Housing Complex'
 'Parking Lot, Shop' 'Housing Complex, Warehouse, Shop'
 'House, Housing Complex, Office, Workshop' 'Parking Lot, Other'
 'Workshop, Shop' 'House, Warehouse, Parking Lot'
 'House, Office, Parking Lot, Shop, Other'
 'House, Housing Complex, Parking Lot, Other'
 'House, Parking Lot, Shop, Other' 'Office, Warehouse, Parking Lot, Shop'
 'House, Office, Parking Lot, Other' 'Factory, Workshop'
 'Housing Complex, Office, Other'
 'House, Office, Warehouse, Parking Lot, Shop' 'Workshop, Warehouse'
 'Housing Complex, Factory, Shop'
 'House, Workshop, Warehouse, Parking Lot'
 'House, Office, Warehouse, Shop, Other' 'Factory, Office, Other'
 'Office, Workshop, Warehouse, Parking Lot'
 'Housing Complex, Workshop, Shop' 'Office, Parking Lot, Shop, Other'
 'House, Housing Complex, Office, Warehouse, Parking Lot']

All of them are correct and based on data documentation. However, some of them have two or more types of use, and because of reduced-dimensionality, I just consider the first one.

In [47]:
df['Use'] = df['Use'].apply(lambda x: x.split(',')[0])

In [48]:
print(df['Use'].value_counts())

House              1300
Office              705
Housing Complex     559
Shop                117
Other                43
Warehouse            18
Factory               9
Parking Lot           6
Workshop              4
Name: Use, dtype: int64

> ### Renovation

In [49]:
print(df['Renovation'].unique())

['Not yet']

<hr>

# Check Point

In [52]:
df = df.reset_index(drop=True)

In [55]:
import pickle
with open('Dataset/df_preprocessed.pickle', 'wb') as file:
    pickle.dump(df, file)